<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Lista de Convidados</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	
	<div class="container">
		<div align="left">
			<a hrfe="/listaconvidados" class="btn btn-lg btn-primary">Home</a>
			
		</div>
		<br></br>
		<div id ="listaconvidados">
			<table class="table table-hover">
				<thead>
				   <tr>
					<th>Nome</th>
					<th>Email</th>
					<th>Telefone</th>
				   </tr>
				</thead>
				<tr th:each="convidado : ${convidados}">
					<td><span th:text="${convidado.nome}"></span></td>
					<td><span th:text="${convidado.email}"></span></td>
					<td><span th:text="${convidado.telefone}"></span></td>
				</tr>
			</table>
		</div>
	
	<hr/>
	
	<form action="salvar" method="post">
		<div class="form-group">
			<label for="nome">Nome </label>
			<input type ="text" class="form-control" id="nome" placeholder="Nome">
		</div>
		<div class="form-group">
			<label for="emaill">Email </label>
			<input type ="text" class="form-control" id="email" placeholder="Email">
		</div>
		<div class="form-group">
			<label for="telefone">Telefone </label>
			<input type ="text" class="form-control" id="telefone" placeholder="Telefone">
		</div>
	</form>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
  
</body>
</html>